@{
    ViewBag.Title = "admin";
}
<div id ="d3" style =" position : absolute ; left : 10px ; top : 100px">

    <a style=" width: 140px" href ="/admin/edit" class ="btn btn-danger navbar-btn">Change Settings</a> 
    <br/>
    <a style=" width: 140px" href ="/admin/deleteUserV" class ="btn btn-danger navbar-btn">Delete User</a> 
    <br/>
    <a style=" width: 140px" href ="/admin/logout" class ="btn btn-danger navbar-btn">Log Out</a> 

    </div>
