@{
    ViewBag.Title = "AboutUs";
}

<div id = "d2" style =" position : absolute ;  width : 80% ; right : 100px ; left : 100px; top : 50px">
    
<h1 style =" font-family : Arial ;  font-size : 55px ; text-align:center">About Us</h1>
    <br />
    <h2 style = " font-family : Arial ;font-size : 30px ; " >What is bloodDonation.com?</h2>
    <br/>
    <p style =" font-family : Arial ; font-size : 15px"> is a website builder and hosting service that gives you everything you need to get your website online. Whether you need a website for a wedding, a restaurant, a clinic, or whatever else you have in mind, our website builder will allow you to create a professional looking website with ease.
        </p>
    <br />
    <h2 style = " font-family : Arial ;font-size : 30px ; " >Our history</h2>
    <br />
    <p style =" font-family : Arial ; font-size : 15px">Website.com was started up in 2005 by a group of guys who have worked in the web hosting industry for years. They realized that there was one thing that plagued traditional web hosting services: usability. Traditional web hosting services were simply too complicated and too difficult for an average person to use. They agreed that making websites should be fun, fast, and easy.
        </p>
    
</div>

