@{
    ViewBag.Title = "ContactUs";
}

<div id =" d3" style = " position : absolute ; left : 300px; top : 150px ;" >
     <p><b style="font-size:30px"> We would love to hear from you!<br /></b>Send us your feedback/queries.<br />Fill the given fields to contact us.</p>
</div>
<div id ="d1"  style =" position : absolute ; left : 300px; top : 250px ; width : 300px" > 
    <input  style=" height : 50px" type = "text" class="form-control navbar-btn" placeholder="Name">
    <input style=" height : 50px" type = "email" class="form-control navbar-btn" placeholder="Email Id">
   <input style=" height : 50px" type = "text" class="form-control navbar-btn" placeholder="Subject">

</div>

<div id ="d2" style =" position : absolute ; right : 320px; top : 250px ;  "> 

    <textarea  style="  width : 400px ; height : 165px" class="form-control navbar-btn" placeholder="Message">
   </textarea>
    <button style="  width: 80px ;  float : right;" id ="b1" onclick = "f1()" type="button" class="btn btn-danger navbar-btn">Send</button>

</div>
